@using TP_FInal_Resumenes.Models
@{
    ViewBag.Title = "Home Page";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Resumamos!</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <!--   CONTAINER   -->
    <div class="container">
        <!-- Header -->
        <!-- Hero Section -->

        <br />
        <br />
        <br />
        <br />        
        <div class="shows">

            <center>

                <div class="shows"> <img src="~/Content/shows.png" alt="" width="615" height="60" /></div>
            </center>
        </div>

        <!-- Stats Gallery Section -->

        <div class="gallery">
            @foreach(Resumenes res in ViewBag.lista)
                { 
            <div class="thumbnail">
                <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                <h4>TEMA</h4>
                <p class="tag">Materia</p>
                <p class="tag">Escuela</p>
            </div>


            <div class="thumbnail">
                <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                <h4>TEMA</h4>
                <p class="tag">Materia</p>
                <p class="tag">Escuela</p>
            </div>


            <div class="thumbnail">
                <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                <h4>TEMA</h4>
                <p class="tag">Materia</p>
                <p class="tag">Escuela</p>
            </div>


            <div class="thumbnail">
                <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                <h4>TEMA</h4>
                <p class="tag">Materia</p>
                <p class="tag">Escuela</p>
            </div>


        </div>
        <div class="gallery">
            <div class="thumbnail">
                <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                <h4>TEMA</h4>
                <p class="tag">Materia</p>
                <p class="tag">Escuela</p>
            </div>


            <div class="thumbnail">
                <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                <h4>TEMA</h4>
                <p class="tag">Materia</p>
                <p class="tag">Escuela</p>
            </div>


            <div class="thumbnail">
                <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                <h4>TEMA</h4>
                <p class="tag">Materia</p>
                <p class="tag">Escuela</p>
            </div>


            <div class="thumbnail">
                <a href="#"><img src="images/bkg_06.jpg" alt="" width="2000" class="cards" /></a>
                <h4>TEMA</h4>
                <p class="tag">Materia</p>
                <p class="tag">Escuela</p>
            </div>
        </div>
        <hr />
        <hr />
        <hr />


        <center>

            <div class="showdwn"> 
            <img src="~/Content/bannerbg.png" alt="" width="100%" height="100%" />

            <div class="showdwntext"><b>REGISTRÁTE, CONFIGURÁ TU PERFIL,</b></div>
            <div class="showdwncenter"><b>Y EMPEZÁ A SUBIR TUS APUNTES.</b></div>
            <div class="showdwnthird"><b>UNAMOS A LOS ESTUDIANTES.</b></div>
            <div class="showdwnbutton">
            <a href="@Url.Action("CrearCuenta", "Home")" class="showdwnbtn">REGISTRÁTE</a>
            </div>
            </div>
        </center>


        <!-- Footer Section -->
        <!-- Copyrights Section -->


    </div>
    <!-- Main Container Ends -->
</body>
</html>