@using TP_FInal_Resumenes.Models
@model Usuarios
@{
    ViewBag.Title = "Login";
}
<h2>IniciarSesion</h2>
@using (Html.BeginForm("ValidarLoginUsuario", "BackOffice", FormMethod.Post))
{
    <p>Nombre:</p> @Html.TextBoxFor(model => model.Username) @Html.ValidationMessageFor(model => model.Username) <br />
    <p>Contraseña:</p> @Html.PasswordFor(model => model.Contrasena) @Html.ValidationMessageFor(model => model.Contrasena) <br />
    <input type="submit" value="Enviar" />
}



