@using TP_FInal_Resumenes.Models
@model Login
@{
    ViewBag.Title = "Login";
}
<h2>IniciarSesion</h2>
@using (Html.BeginForm("ValidarLoginUsuario", "Home", FormMethod.Post))
{
    <p>Usuario:</p> @Html.TextBoxFor(model => model.Username) @Html.ValidationMessageFor(model => model.Username) <br />
    <p>Contraseña:</p> @Html.PasswordFor(model => model.Contrasena) @Html.ValidationMessageFor(model => model.Contrasena) <br />
    <input type="submit" value="Enviar" />
}



