USE [master]
GO
/****** Object:  Database [Resumamos]    Script Date: 26/11/2019 10:16:25 ******/
CREATE DATABASE [Resumamos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Resumamos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Resumamos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Resumamos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Resumamos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Resumamos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Resumamos]
GO
USE [Resumamos]
GO
/****** Object:  User [alumno]    Script Date: 26/11/2019 10:16:25 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Escuelas]    Script Date: 26/11/2019 10:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Escuelas](
	[IdEscuela] [int] IDENTITY(1,1) NOT NULL,
	[NombreEscuela] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Escuelas] PRIMARY KEY CLUSTERED 
(
	[IdEscuela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materias]    Script Date: 26/11/2019 10:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materias](
	[IdMateria] [int] IDENTITY(1,1) NOT NULL,
	[NombreMateria] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Materias] PRIMARY KEY CLUSTERED 
(
	[IdMateria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Resumenes]    Script Date: 26/11/2019 10:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resumenes](
	[IdResumen] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[FkMateria] [int] NOT NULL,
	[FkUsuario] [int] NOT NULL,
	[Puntuacion] [float] NULL,
	[Anio] [int] NOT NULL,
	[Archivo] [varchar](100) NOT NULL,
	[FkEscuela] [int] NOT NULL,
 CONSTRAINT [PK_Resumenes] PRIMARY KEY CLUSTERED 
(
	[IdResumen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 26/11/2019 10:16:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[Contrasena] [varchar](100) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido] [varchar](100) NOT NULL,
	[Mail] [varchar](100) NOT NULL,
	[Admin] [bit] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Escuelas] ON 

INSERT [dbo].[Escuelas] ([IdEscuela], [NombreEscuela]) VALUES (1, N'ORT')
INSERT [dbo].[Escuelas] ([IdEscuela], [NombreEscuela]) VALUES (2, N'Martin Buber')
INSERT [dbo].[Escuelas] ([IdEscuela], [NombreEscuela]) VALUES (3, N'Scholem Aleijem')
SET IDENTITY_INSERT [dbo].[Escuelas] OFF
SET IDENTITY_INSERT [dbo].[Materias] ON 

INSERT [dbo].[Materias] ([IdMateria], [NombreMateria]) VALUES (1, N'Matemática')
INSERT [dbo].[Materias] ([IdMateria], [NombreMateria]) VALUES (2, N'Lengua y literatura')
INSERT [dbo].[Materias] ([IdMateria], [NombreMateria]) VALUES (3, N'Historia')
SET IDENTITY_INSERT [dbo].[Materias] OFF
SET IDENTITY_INSERT [dbo].[Resumenes] ON 

INSERT [dbo].[Resumenes] ([IdResumen], [Nombre], [FkMateria], [FkUsuario], [Puntuacion], [Anio], [Archivo], [FkEscuela]) VALUES (1, N'Resumen las cruzadas', 4, 5, 4, 4, N'link', 1)
INSERT [dbo].[Resumenes] ([IdResumen], [Nombre], [FkMateria], [FkUsuario], [Puntuacion], [Anio], [Archivo], [FkEscuela]) VALUES (2, N'Expresiones logaritmicas', 1, 2, 3, 5, N'link', 1)
INSERT [dbo].[Resumenes] ([IdResumen], [Nombre], [FkMateria], [FkUsuario], [Puntuacion], [Anio], [Archivo], [FkEscuela]) VALUES (3, N'Funcion polinomica', 1, 3, 4, 3, N'link', 2)
SET IDENTITY_INSERT [dbo].[Resumenes] OFF
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Username], [Contrasena], [Nombre], [Apellido], [Mail], [Admin]) VALUES (1, N'AndyTurjansky', N'Andy123', N'Andres', N'Turjansky', N'andyTurjansky@gmail.com', 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Username], [Contrasena], [Nombre], [Apellido], [Mail], [Admin]) VALUES (2, N'AlberBendayan', N'Alber123', N'Alberto', N'Bendayan', N'alberBendayan@gmail.com', 1)
INSERT [dbo].[Usuarios] ([IdUsuario], [Username], [Contrasena], [Nombre], [Apellido], [Mail], [Admin]) VALUES (3, N'AgusKryss', N'Agus123', N'Agustin', N'Kryss', N'agusKryss@gmail.com', 1)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
USE [master]
GO
